<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <% if(movies[i].genres){%>
                <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %> - <%=movies[i].genres.name%></a>
            <%}else{%>
                <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %> - Sin Genero</a>
            <%}%>  
            <ul>
                <% for (let j=0;j<movies[i].actors.length;j++){%>
                    <li>
                        <%= peliculas[i].actors[j].first_name %>
                    </li>
                <%}%>
            </ul>  
        </li>
        <% } %>

    </ul>
</body>

</html>